@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #93bf70;
}

.pixelify-sans-button {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 45px;
  font-weight: 250;
  font-style: normal;
  margin: 7px 0;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2f51ee;
  margin-bottom: 20px;
}

.menu-container {
  font-size: 3.43rem;
  font-weight: 700;
  margin-bottom: 30px;
  width: 400px;
  padding-bottom: 34px;
  width: 500px;
  text-align: center;
}

.menu-title{
  font-size: 3.30rem;
  margin-top: 26px;
  color: #2f51ee;
}

.tab {
  background-color: #d0fd5f;
  height: 57px;
  position: relative;
  border-radius: 7px;
  border-style: solid;
  border-color: #2f51ee;
  z-index: 0;
}

.circle-group {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 35px;
  transform: translateY(-50%);
}

.circle-1 {
  height: 19px;
  width: 19px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  right: 461px;
  top: 5px;
}

.circle-2 {
  height: 19px;
  width: 19px;
  background-color: #2f51ee;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  right: 438px;
  top: 5px;
}

.circle-3 {
  height: 19px;
  width: 19px;
  background-color: #5f7cc4;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  right: 415px;
  top: 5px;
}

.score-container {
  width: 400px;
  padding: 40px 25px;
  text-align: center;
}

.score-container .score-title {
  font-size: 2.43rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.score-container .score-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.popup-container.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-container .quiz-box, .menu-container{
  position: relative;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
  transform: translateY(-50px);
  transition: all 0.4s ease-out;
}

.popup-container.active .quiz-box, .menu-container.active {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  transform: translateY(0);
}

/* Quiz Configuration Stylings */
.config-container {
  z-index: 10;
  width: 530px;
  text-align: center;
}

.config-container .config-title {
  font-size: 3.21rem;
}

.config-container .config-option {
  padding: 13px 70px 0 70px;
}

.config-option .option-title {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 20px;
  color: #2f51ee;
}

.config-option .category-options {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.config-option .question-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 30px;
  justify-content: center;
}

.config-option button {
  padding: 12px;
  font-size: 0.938rem;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #2f51ee;
  transition: 0.3s ease;
}
.config-option button.active {
  color: #1e42e6;
  border-color: #2f51ee;
  background: #5f7cc4;
}
.config-option button:hover,
.quiz-content .answer-option:hover {
  background: #5f7cc4;
}
.config-option .question-options button {
  flex: 1 1 10%;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn, 
.view-score-btn, 
.open-quiz-btn {
  color: #fff;
  border: none;
  font-weight: 500;
  background: #2f51ee;
  padding: 13px 25px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn {
  color: #fff;
  border: none;
  font-weight: 500;
  background: #93bf70;
  padding: 13px 25px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
  margin-top: 21px;
  margin-bottom: 20px;
}

.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover, 
.score-container .start-up:hover, .view-score-btn:hover, 
.save-score-btn:hover, .open-quiz-btn:hover {
  background: #5f7cc4;
}

/* Quiz Container Stylings */
.quiz-container {
  width: 480px;
}

.quiz-container .quiz-header {
  background-color: #d0fd5f;
  border-radius: 7px;
  border: 1.5px solid #2f51ee;
  display: flex;
  padding: 14px 25px;
  align-items: center;
  justify-content: space-between;
}

.quiz-header .quiz-title {
  font-size: 2.43rem;
  font-weight: 700;
  color: #5f7cc4;
}

.quiz-header .quiz-timer {
  display: flex;
  width: 70px;
  color: #fff;
  gap: 5px;
  align-items: center;
  background: #2f51ee;
  border-radius: 6px;
  padding: 7px 9px;
  font-weight: 600;
  transition: 0.2s ease;
}

.quiz-header .quiz-timer span {
  font-size: 1.4rem;
}

.quiz-container .quiz-content {
  padding: 20px 25px 25px;
}

.quiz-content .question-text {
  color: #2f51ee;
  font-size: 1rem;
  font-weight: 700;
}

.quiz-content .question-image {
  max-width: 45%;
  border-radius: 6px;
  align-self: center;
}

.quiz-content .answer-options {
  list-style: none;
  display: inline-block;
  gap: 15px;
  margin-top: 10px;
  flex-direction: column;
}

.quiz-content .answer-option {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px 14px;
  border: 1px solid #2f51ee;
  background: #F3F1FF;
  justify-content: space-between;
  margin: 3px 6px;
  transition: 0.3s ease;
}

.quiz-content .answer-option span {
  display: block;
  flex-shrink: 0;
  margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct {
  border-color: #B7E1C1;
  background: #D4EDDA;
  color: #155724;
}

.quiz-content .answer-option.correct span {
  color: #0b5b2d;
}

.quiz-content .answer-option.incorrect {
  border-color: #F4BEC3;
  background: #F8D7DA;
  color: #721C24;
}

.quiz-content .answer-option.incorrect span {
  color: #F23723;
}

.quiz-container .quiz-footer {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2.3px solid #5f7cc4;
}

.quiz-footer .question-status {
  font-weight: 450;
  color: #2f51ee;
}

.quiz-footer .question-status b {
  font-weight: 550;
  color: #2f51ee;
}

.quiz-footer .next-question-btn {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  padding: 9px 17px;
}

/* Quiz Result Stylings */
.result-container {
  text-align: center;
  padding: 40px;
  width: 410px;
}
.result-container .result-img {
  width: 110px;
}
.result-container .result-title {
  margin-top: 30px;
}
.result-container .result-message {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 15px;
}
.result-container .result-message b {
  font-weight: 700;
  color: #93bf70;
}

.result-container #finalScore {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: #93bf70;
}

.result-container .try-again-btn {
  padding: 12px 20px;
  margin-top: 30px;
}

/* Media query code for mobile screens */
@media (max-width: 624px) {
  .config-container,
  .quiz-container .quiz-content {
    padding: 20px;
  }
  .quiz-content .answer-option {
    padding: 12px 10px 12px 14px;
  }
  .config-container .question-options {
    padding: 0 15px;
  }
  .quiz-container .quiz-header,
  .quiz-container .quiz-footer {
    padding: 13px 20px;
  }
  .quiz-header .quiz-title,
  .quiz-content .question-text {
    font-size: 1.3rem;
  }
  .result-container {
    padding: 40px 20px;
  }
  .result-container .result-title {
    font-size: 1.4rem;
  }
}

/* Forms */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(67, 207, 97, 0.5);
}

input::placeholder {
  color: #aaa;
}

/* High Scores */
#highScoresList {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.high-score {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #2f51ee;
}

.high-score:hover {
  transform: scale(1.05);
}