body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('Images/Background-web.jpg');
  background-size: cover;
}

.title {
  text-align: center;
  background-color: #fff;
  height: 340px;
  width: 600px;
  border-radius: 7px;
  box-shadow: 0 8px 16px #2f51ee;
}

.tab {
  background-color: #d0fd5f;
  height: 50px;
  position: relative;
  border-radius: 7px;
  border-style: solid;
  border-color: #2f51ee;
  z-index: 0;
}

.title-fill {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-1 {
  height: 27px;
  width: 27px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 535px;
  top: 12px;
}

.circle-2 {
  height: 27px;
  width: 27px;
  background-color: #2f51ee;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 505px;
  top: 12px;
}

.circle-3 {
  height: 27px;
  width: 27px;
  background-color: #5f7cc4;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 475px;
  top: 12px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.7rem;
  color: #2f51ee;
  margin-bottom: 23px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.pixelify-sans-button {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 45px;
  font-weight: 250;
  font-style: normal;
  margin: 7px 0;
}

.start-up{
  color: #fff;
  font-weight: 500;
  background: #2f51ee;
  border-color: 1px solid #5f7cc4;
  padding: 13px 25px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
  align-content: center;
}

.start-up:hover {
  transition: 0.5s ease;
  box-shadow: #5f7cc4 0px 4px 8px, #2f51ee 0px 6px 20px;
}