body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #93bf70;
}

.title {
  text-align: center;
  background-color: #fff;
  width: 590px;
  height: 290px;
  border-radius: 7px;
  box-shadow: 0 8px 16px #151414aa;
  z-index: -1;
}

.tab {
  background-color: #d0fd5f;
  height: 50px;
  margin-top: 0px;
  position: relative;
  border-radius: 7px;
}

.circle {
  height: 27px;
  width: 27px;
  background-color: #2f51ee;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 535px;
  top: 12px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.7rem;
  color: #2f51ee;
  margin-top: 25px;
  margin-bottom: 30px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

a {
  text-decoration: none;
  font-family: "Jersey 10", sans-serif;
  font-size: 20px;
}

.pixelify-sans-button {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 45px;
  font-weight: 250;
  font-style: normal;
  margin: 7px 0;
}

.start-up{
  color: #fff;
  font-weight: 500;
  background: #2f51ee;
  border-color: 1px solid #5f7cc4;
  padding: 13px 25px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.start-up:hover {
  transition: 0.5s ease;
  box-shadow: #5f7cc4 0px 4px 8px, #2f51ee 0px 6px 20px;
}